*{
  box-sizing: border-box;
}

body{
  margin:0px;
 
}


.top{
  color:#5fbfef;
  font-size:30px;
  font-family:'IM Fell Double Pica', serif;
  border-bottom:14px solid black;
  text-align:center;
}

#yerr{
  font-size:15px;
  color:black;

}



h2{
  text-align:center;
  color:grey;
  font-family:arial;
  font-size:20px;
}

.main{
  margin-left:100px;
  margin-right:100px;
  font-size:13px;
  position: block;

}

.about, .exp, .skill, .contact {
  padding:10px;

}

span{
  padding:2px;
  background-color:#5fbfef;
  font-size:12px;
  font-weight:bold;
  font-family:arial;
}

h3{
  color:#5fbfef;
}

img{
  display:block;
  width: 150px;
  margin: 0 auto;
}

a{
  font-weight:;
}
/*
@media (min-width:600px){

  section.row {
    display:flex;
  }
  
  .main{
    margin-top:20px;
    marigin:0 auto;
    
  }
  
  .lead, .skill, .exp, .contact{
    width: 50%;

  }
  
  img{
    position: absolute;
    right:0px;
    bottom:0px;
    margin:auto;
    display:block;
  }
}
*/

.resume{
  margin:0px 50px;
}

foot p{

  background-color:gray;
  margin-bottom:0px;
  padding:15px 20px;
  font-size:12px;
  text-align:center;

}

.lead h4, .lead span {
  display:flex;
  justify-content:space-between;
}

.skill h4, .skill span {
  margin:2px;
  display:flex;
  justify-content:space-between;
}

.exp h4, .exp span {
  margin:2px;
  display:flex;
  justify-content:space-between;
}
